<?xml version="1.0"?>

<model>
  <name>Refilling Stations</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Giuseppe Silano</name>
    <email>giuseppe.silano@fel.cvut.cz</email>
  </author>

  <description>
    Refilling stations for the bird diverter installation tasks scenario.
  </description>

</model>
