<?xml version="1.0"?>

<model>
  <name>Power Tower - Danube - 2 Towers and cables</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Giuseppe Silano</name>
    <email>giuseppe.silano@fel.cvut.cz</email>
  </author>

  <description>
    Transmission lines for tower of type Danube. Default length 40 m. Adjust X portion of mesh scale in model.sdf for longer wires. The worlds scenarios contains two towers and the wires between them.
  </description>

</model>
