<?xml version="1.0"?>

<model>
  <name>Jeff_Electrician</name>
  <version>1.0</version>
  <sdf version="1.0">jeff_electrician_modular.sdf</sdf>/
  <author>
    <name>Timur Uzakov</name>
    <email>timauzakov@gmail.com</email>
  </author>
  <maintainer>
    <name>Petr Stibinger</name>
    <email>stibipet@fel.cvut.cz</email>
  </maintainer>
  <description>
    A model of human in working electrician suit.
  </description>

</model>
