<?xml version="1.0"?>

<model>
  <name>Jeff_Electrician</name>
  <version>1.0</version>
  <sdf version="1.0">jeff_electrician.sdf</sdf>/
  <author>
    <name>Timur Uzakov</name>
    <email>timauzakov@gmail.com</email>
  </author>

  <description>
    A model of human in working electrician suit.
  </description>

</model>
